<header class="glass-header" id="header">

  <div class="logo-container">
    <a href="/">
      <img src="/assets/logo/rt-logo-round.svg" alt="Raquel Teaches Logo" class="logo">
    </a>
  </div>

  <!-- <nav class="nav-container">
    <a href="#services">Lessons</a>
    <a href="#about-anchor">About</a>
    <a href="#contact-anchor" class="emphasis-button">Book Now</a>
  </nav> -->
  <nav class="nav-container">
    <a href="#services" data-scroll-target="#services">Lessons</a>
    <a href="#about" data-scroll-target=".about-text">About</a>
    <a href="#contact" data-scroll-target=".form-section" class="emphasis-button">Book Now</a>
  </nav>

</header>

